<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-primary text-center">Post Application</h3>
        </div>
    </div>
    <div class="row">
<div class="col">
    <input type="text" [(ngModel)]="title" class="form-control">
</div>
<div class="col">
    <button class="btn btn-success" (click)="savePost()"> Save </button>
</div>
    </div>
    <div class="row">
        <div class="col">
           <table class="table">
            <tr>
                <th>Sr. No </th>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let post of postArray; let i = index;">
                <td>{{i+1}}</td>
                <td>{{post.title}}</td>
                <td>{{ post.createdAt | date: "dd-MM-yyyy"}}</td>
                <td>
                    <button class="btn btn-outline-warning" (click)="editPost(post)"> Edit </button>
                    <button class="btn btn-outline-delete" (click)="deletePost(post._id)"> Delete</button>
                </td>
            </tr>
           </table>

           </div>
        </div>
    </div> 